.animation-men {

  &__content {
    position: relative;

    .img {
      display: block;
      @media (min-width: 1200px) {
        display: none;
      }
    }

    .lottie {
      display: block;
      @media (max-width: 1199px) {
        display: none;
      }
    }

    &_men {
      position: absolute;
      z-index: 2;
      top: -245px;
      left: 247px;
      width: 229px;
      height: 301px;
      @media (max-width: 1023px) {
        width: 132px;
        height: 226px;
        left: initial;
        right: 0;
        top: -200px;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
}