.hero-block {
  background-color: $color-grey-300;
  padding: 152px 0 226px 0;

  &__content {
    display: flex;
    justify-content: space-between;

    &_text {
      flex: 0 1 479px;

      h2 {
        margin: 10px 0 0 0;
      }

      p {
        font-size: 18px;
        line-height: 29px;
        margin: 24px 0 0 0;
      }

      .btn-cta {
        margin: 36px 0 0 0;
      }
    }

    &_iframe {
      position: relative;
      flex: 0 1 48%;

      .lottie {
        display: block;
        @media (max-width: 1199px) {
          display: none;
        }
      }

      .img {
        display: none;
        @media (min-width: 1200px) {
          display: none;
        }
      }
    }
  }
}

@media (max-width: 1199px) {
  .hero-block {
    padding: 52px 0 127px 0;

    &__content {
      flex-direction: column;

      &_text {
        flex: initial;
      }

      &_iframe {
        flex: initial;
        margin: 60px 0 0 0;

        .iframe-bg {
          &__vc {
            top: -53px;
            right: 1px;
          }

          &__robot {
            width: 88px;
            height: 123px;
            bottom: -61px;
            left: 0px;
          }
        }
      }
    }
  }
}

@media(max-width: 767px) {
  .hero-block {
    &__content {
      &_text {
        p {
          font-size: 14px;
          line-height: 22px;
          margin: 20px 0 0 0;
        }
      }
    }
  }
}
