.hero-block {
  background-color: $color-grey-300;
  padding: 152px 0 226px 0;

  &__content {
    display: flex;
    justify-content: space-between;

    &_text {
      flex: 0 1 479px;

      h2 {
        margin: 10px 0 0 0;
      }

      p {
        font-size: 18px;
        line-height: 29px;
        margin: 24px 0 0 0;
      }

      .btn-cta {
        margin: 36px 0 0 0;
      }
    }

    &_iframe {
      position: relative;
      flex: 0 1 48%;

      .lottie {
        display: block;
        @media (max-width: 1199px) {
          display: none;
        }
      }

      .img {
        display: block;
        @media (min-width: 1200px) {
          display: none;
        }
      }

      .iframe-bg {
        &__content {
          position: relative;
          padding: 56% 0 0 0;

          &_substrate {
            position: absolute;
            cursor: pointer;
            z-index: 2;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transition: 300ms;

            &:before {
              content: '';
              position: absolute;
              z-index: 2;
              top: 50%;
              left: 50%;
              transform: translateX(-50%) translateY(-50%);
              width: 56px;
              height: 56px;
              background-image: url("../img/hero/play.png");
              background-repeat: no-repeat;
              background-size: 56px 56px;
            }

            &:after {
              content: '';
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              background-color: rgba($color-dark, 0.3);
              border-radius: 16px;
            }

            &.active {
              opacity: 0;
            }

            img {
              position: absolute;
              border-radius: 16px;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              object-fit: cover;
              box-shadow: 0px 16px 48px rgba(0, 0, 0, 0.24);
            }
          }

          iframe {
            position: absolute;
            border-radius: 16px;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            pointer-events: none;
          }
        }

        &__robot {
          position: absolute;
          z-index: 2;
          bottom: -74px;
          left: -136px;
          width: 280px;
          height: 310px;
        }

        &__vc {
          position: absolute;
          z-index: 2;
          top: -49px;
          right: -38px;
          width: 107px;
          height: 102px;
        }
      }
    }
  }
}

@media (max-width: 1199px) {
  .hero-block {
    padding: 52px 0 127px 0;

    &__content {
      flex-direction: column;

      &_text {
        flex: initial;
      }

      &_iframe {
        flex: initial;
        margin: 60px 0 0 0;

        .iframe-bg {
          &__vc {
            top: -53px;
            right: 1px;
          }

          &__robot {
            width: 88px;
            height: 123px;
            bottom: -61px;
            left: 0px;
          }
        }
      }
    }
  }
}

@media(max-width: 767px) {
  .hero-block {
    &__content {
      &_text {
        p {
          font-size: 14px;
          line-height: 22px;
          margin: 20px 0 0 0;
        }
      }
    }
  }
}
