.reference {
  margin: 80px 0 90px 0;

  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &._mob {
      display: none;
      justify-content: flex-end;
    }

    a {
      position: relative;
      padding: 0 32px 0 0;
      font-size: 16px;
      line-height: 19px;
      font-weight: 500;
      color: $color-dark;
      transition: 300ms;

      svg {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        width: 16px;
        height: 16px;
        transition: 300ms;
      }

      @media (min-width: 1200px) {
        &:hover {
          color: $color-green;

          svg {
            fill: $color-green;
          }
        }
      }
    }
  }

  &__cards {
    display: flex;
    flex-wrap: wrap;
    margin: 54px -26px 103px;

    .cards {
      &__item {
        width: calc(100% / 3);
        padding: 0 26px;
        border-right: 1px solid $color-green-l;

        &:nth-child(3n) {
          border-right: initial;
        }

        &_top {
          display: flex;
          align-items: center;
          margin: 0 0 26px 0;

          span {
            flex: 0 0 40px;
            height: 40px;
            margin: 0 24px 0 0;

            img {
              border-radius: 8px;
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }

          p {
            display: flex;
            flex-direction: column;

            strong {
              &:first-child {
                font-size: 16px;
                line-height: 26px;
                font-weight: 700;
                color: $color-green;
              }

              &:last-child {
                font-size: 14px;
                line-height: 22px;
                color: $color-grey-800;
                font-weight: 400;
              }
            }
          }
        }

        &_middle {
          display: flex;
          flex-wrap: wrap;
          padding: 0 0 18px 0;
          border-bottom: 1px solid $color-green-l;

          a {
            position: relative;
            font-size: 12px;
            line-height: 19px;
            color: $color-dark;
            padding: 0 0 0 20px;
            word-break: break-word;

            &:before {
              content: '';
              position: absolute;
              top: 50%;
              left: 0;
              transform: translateY(-50%);
              width: 14px;
              height: 14px;
              background-image: url("../img/hero/phone.svg");
              background-repeat: no-repeat;
              background-position: center;
              background-size: contain;
            }

            &:first-child {
              margin: 0 10px 0 0;
            }

            &:last-child {
              &:before {
                background-image: url("../img/hero/mail.svg");
              }
            }
          }
        }

        &_bottom {
          p {
            font-size: 16px;
            line-height: 26px;
            font-style: italic;
            padding: 32px 0;
            border-bottom: 1px solid $color-green-l;
          }

          a {
            display: block;
            margin: 26px 0 0 0;
            font-size: 16px;
            line-height: 19px;
            font-weight: 500;
            color: $color-dark;
            transition: 300ms;
            @media (min-width: 1200px) {
              &:hover {
                color: $color-green;
              }
            }
          }
        }
      }
    }
  }

  &__numbers {
    padding: 49px 0 0 0;
    border-top: 1px solid $color-green-l;

    ul {
      display: flex;
      margin: 0 -100px;
      li {
        margin: 0 100px;
        width: calc((100% - (100px * 6)) / 3);
        border-left: 1px solid $color-green-l;

        &:first-child {
          border-left: initial;
        }

        p {
          display: flex;
          flex-direction: column;
          padding: 0 0 0 64px;

          strong {
            font-size: 64px;
            line-height: 77px;
            font-weight: 700;
            color: $color-green;
          }

          span {

          }
        }
      }
    }
  }
}

@media (max-width: 1023px) {
  .reference {
    &__title {
      a {
        display: none;
      }

      &._mob {
        display: flex;

        a {
          display: block;
        }
      }
    }

    &__cards {
      margin: 49px -26px 51px;

      .cards {
        &__item {
          width: 100%;
          margin: 50px 0 0 0;

          &:first-child {
            margin: 0;
          }

          &_top {
            margin: 0 0 20px 0;
          }

          &_middle {
            flex-direction: column;
            padding: 0 0 30px 0;

            a {
              &:first-child {
                margin: 0 0 20px 0;
              }
            }
          }

          &_bottom {
            p {
              font-size: 14px;
              line-height: 22px;
              padding: 20px 0;
            }

            a {
              margin: 30px 0 0 0;
            }
          }
        }
      }
    }

    &__numbers {
      margin: 108px 0 0 0;

      ul {
        flex-direction: column;
        align-items: center;
        margin: 0;
        li {
          border-left: initial;
          width: initial;
          margin: 40px 0 0 0;

          p {
            padding: 0 0 40px 0;
            text-align: center;
          }

          border-bottom: 1px solid $color-green-l;

          &:last-child {
            border-bottom: initial;

            p {
              padding: 0;
            }
          }

          &:first-child {
            margin: 0;
          }
        }
      }
    }
  }
}