$fontfamily: "Inter", sans-serif;
$minwidth: 320px;

//colors
$color-dark: #0A2342;
$color-white: #fff;
$color-grey-300: #EEF8F6;
$color-grey-500: #E5EFED;
$color-grey-600: #DEE9E6;
$color-green: #2CA58D;
$color-green-l: #EAF4F2;
$color-red-error: #FF5C5C;