.hero-inner {
  margin: 33px 0 126px 0;

  &__back {
    a {
      position: relative;
      font-size: 12px;
      line-height: 19px;
      color: $color-dark;
      padding: 0 0 0 32px;
      transition: 300ms;

      svg {
        position: absolute;
        left: 0;
        top: 50%;
        width: 12px;
        height: 12px;
        transform: translateY(-50%) rotate(-90deg);
        fill: $color-dark;
        transition: 300ms;
      }

      &:hover {
        color: $color-green;

        svg {
          fill: $color-green;
        }
      }
    }
  }

  &__top-content {
    margin: 96px 0 0 0;
    display: flex;
    justify-content: space-between;

    .top-content {
      &__text {
        flex: 0 1 752px;
        margin: 0 50px 0 0;

        span {
          display: none;
          font-size: 14px;
          line-height: 22px;
          font-weight: 500;
          color: $color-green;
          margin: 0 0 8px 0;
        }

        h3 {
          margin: 0 0 64px 0;
        }

        p {
          line-height: 26px;
          margin: 0 0 32px 0;

          &:last-child {
            margin: 0;
          }
        }
      }

      &__img {
        flex: 0 1 416px;

        &_picture {
          position: relative;
          width: 100%;
          height: 490px;
          border-radius: 16px;
          overflow: hidden;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }

          p {
            position: absolute;
            bottom: 40px;
            left: 40px;
            display: flex;
            flex-direction: column;

            strong {
              color: $color-green;
              font-size: 16px;
              line-height: 26px;
              font-weight: 700;
            }

            span {
              font-size: 14px;
              line-height: 17px;
              color: $color-grey-800;
            }
          }
        }
      }
    }
  }

  &__editor {
    margin: 64px auto 0;
    max-width: 864px;

    h2, h3, h4 {
      margin: 64px 0 23px 0;

      &:first-child {
        margin: 0 0 32px 0;
      }
    }

    p {
      margin: 0 0 32px 0;
      line-height: 26px;
    }

    img {
      width: 100%;
      object-fit: cover;
      margin: 64px auto;
      border-radius: 16px;
      height: 400px;
    }
  }

  &__bottom-content {
    display: flex;
    max-width: 864px;
    margin: 64px auto;
    padding: 0 0 127px 0;
    border-bottom: 1px solid $color-grey-600;

    .bottom-content {
      &__img {
        img {
          border-radius: 16px;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        &__img {
          height: 400px;
        }

        &:first-child {
          flex: 0 1 65%;
          margin: 0 32px 0 0;
        }

        &:last-child {
          flex: 0 1 35%;
        }
      }
    }
  }

  &__inner-buttons {
    display: flex;
    justify-content: space-between;
    max-width: 864px;
    margin: 0 auto;

    .inner-buttons {
      &__btn {
        &.reverse {
          a {
            span {
              order: 2;

              svg {
                transform: rotate(90deg) translateX(-50%) translateY(50%);
              }
            }

            p {
              margin: 5px 32px 0 0;

              strong, small {
                text-align: right;
              }
            }
          }
        }

        a {
          display: flex;

          &:hover {
            @media (min-width: 1200px) {
              span {
                background: $color-green;

                svg {
                  fill: $color-white;
                }
              }
            }
          }

          span {
            position: relative;
            width: 48px;
            height: 48px;
            border-radius: 8px;
            background: $color-green-l;
            transition: 300ms;

            svg {
              position: absolute;
              top: calc(50% + 1px);
              left: 50%;
              fill: $color-dark;
              width: 12px;
              height: 12px;
              transform: rotate(-90deg) translateX(50%) translateY(-50%);
              transition: 300ms;
            }
          }


          p {
            display: flex;
            flex-direction: column;
            margin: 5px 0 0 32px;

            strong {
              font-size: 16px;
              line-height: 26px;
              font-weight: 400;
            }

            small {
              margin: 4px 0 0 0;
              font-size: 14px;
              line-height: 22px;
              color: $color-grey-800;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1023px) {
  .hero-inner {
    margin: 24px 0 56px 0;

    &__top-content {
      flex-direction: column;
      margin: 36px 0 0 0;

      .top-content {
        &__text {
          flex: initial;
          margin: 0;

          h3 {
            margin: 0 0 42px 0;
          }

          p {
            font-size: 14px;
            line-height: 22px;
          }

          span {
            display: block;
          }
        }

        &__img {
          flex: initial;
          max-width: 400px;
          margin: 55px auto 0;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .hero-inner {
    &__top-content {
      .top-content {
        &__img {
          &_picture {
            height: 348px;
          }
        }
      }
    }

    &__editor {
      p {
        font-size: 14px;
        line-height: 22px;
      }

      img {
        height: 220px;
        margin: 46px auto 56px;
      }
    }

    &__bottom-content {
      flex-direction: column;
      padding: 0 0 51px 0;
      margin: 0 0 38px 0;

      .bottom-content {
        &__img {
          &:first-child {
            flex: initial;
            margin: 0 0 40px 0;
            height: 220px;
          }

          &:last-child {
            flex: initial;
            height: 348px;
          }
        }
      }
    }

    &__inner-buttons {
      flex-direction: column;

      .inner-buttons {
        &__btn {
          &:first-child {
            margin: 0 0 36px 0;
          }

          a {
            justify-content: center;

            span {
              flex: 0 0 auto;
            }

            p {
              width: 100%;
            }
          }
        }
      }
    }
  }
}