* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Inter", sans-serif;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

p {
  font-size: 16px;
  line-height: 29px;
  color: #0A2342;
}

h2,
.h2 {
  font-size: 64px;
  line-height: 78px;
  font-weight: 700;
  color: #0A2342;
}

h1,
.h1 {
  font-size: 40px;
  line-height: 64px;
  font-weight: 700;
  color: #0A2342;
}

h3,
.h3 {
  font-size: 32px;
  line-height: 51px;
  font-weight: 500;
  color: #0A2342;
}

h4,
.h4 {
  font-size: 24px;
  line-height: 38px;
  font-weight: 500;
  color: #0A2342;
}

h4 strong,
.h4 strong {
  font-weight: 700;
}

.btn {
  font-size: 14px;
  line-height: 17px;
  font-weight: 700;
  padding: 12px 42px;
  -webkit-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
}

.btn._border {
  border: 1px solid #2CA58D;
  border-radius: 8px;
  -webkit-box-shadow: 0px 2px 2px rgba(44, 165, 141, 0.24);
          box-shadow: 0px 2px 2px rgba(44, 165, 141, 0.24);
}

.btn-header {
  color: #2CA58D;
}

.btn-footer {
  color: #fff;
}

.btn-cta {
  display: inline-block;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  padding: 20px 72px;
  border-radius: 8px;
  -webkit-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
  white-space: nowrap;
}

.btn-cta._green {
  color: #fff;
  background-color: #2CA58D;
}

@font-face {
  font-family: "Inter";
  font-display: swap;
  src: url("../fonts/Inter-Bold.woff") format("woff"), url("../fonts/Inter-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  font-display: swap;
  src: url("../fonts/Inter-Medium.woff") format("woff"), url("../fonts/Inter-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  font-display: swap;
  src: url("../fonts/Inter-Regular.woff") format("woff"), url("../fonts/Inter-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
}

.container {
  max-width: 1310px;
  padding: 0px 24px;
  margin: 0px auto;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.root {
  padding: 103px 0 0 0;
}

.header {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100vw;
  background-color: #fff;
}

.header__content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px 0;
}

.header__content-logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 188px;
          flex: 0 0 188px;
  height: 30px;
}

.header__content-logo a {
  display: block;
}

.header__content-logo a img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.header__content-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
  background-color: #fff;
}

.header__content-navigation .content-navigation__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
  padding: 0 0 0 93px;
}

.header__content-navigation .content-navigation__links li {
  font-size: 14px;
  line-height: 17px;
  color: #0A2342;
  font-weight: 500;
  margin: 0 35px 0 0;
  padding: 18px 0;
  -webkit-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
}

.header__content-navigation .content-navigation__links li svg {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 0;
  width: 10px;
  height: 6px;
  fill: #0A2342;
  -webkit-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
}

.header__content-navigation .content-navigation__links li.submenu {
  position: relative;
}

.header__content-navigation .content-navigation__links li.submenu.active {
  color: #2CA58D;
}

.header__content-navigation .content-navigation__links li.submenu.active svg {
  fill: #2CA58D;
  -webkit-transform: translateY(-50%) rotateX(180deg);
          transform: translateY(-50%) rotateX(180deg);
}

.header__content-navigation .content-navigation__links li.submenu a {
  padding: 0 18px 0 0;
}

.header__content-navigation .content-navigation__links li.submenu ul {
  position: absolute;
  pointer-events: none;
  background-color: #fff;
  opacity: 0;
  left: -24px;
  top: 40px;
  padding: 8px 24px;
  width: 208px;
  -webkit-box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  -webkit-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
}

.header__content-navigation .content-navigation__links li.submenu ul li {
  margin: 0;
  padding: 16px 0;
  border-bottom: 1px solid #E5EFED;
}

.header__content-navigation .content-navigation__links li.submenu ul li:last-child {
  border-bottom: initial;
}

.header__content-navigation .content-navigation__links li:last-child {
  margin: 0;
}

.header__content-navigation .content-navigation__links li a,
.header__content-navigation .content-navigation__links li p {
  color: inherit;
}

.header__content-navigation .content-navigation__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__content-navigation .content-navigation__btns .btn-header + .btn-header {
  margin: 0 0 0 7px;
}

.header__content-cross {
  position: absolute;
  z-index: 2;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 0;
  width: 32px;
  height: 20px;
}

.header__content-cross span {
  position: absolute;
  width: inherit;
  height: 3px;
  background-color: #0A2342;
  left: 0;
  -webkit-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
}

.header__content-cross span:first-child {
  top: 0;
}

.header__content-cross span:nth-child(2) {
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.header__content-cross span:last-child {
  top: initial;
  bottom: 0;
}

.footer {
  background-color: #0A2342;
}

.footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 80px 0 64px 0;
}

.footer__top_logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 134px;
          flex: 0 0 134px;
}

.footer__top_logo a {
  display: block;
  width: 134px;
  height: 25px;
}

.footer__top_logo a img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.footer__top_list {
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 90px;
}

.footer__top_list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 154px;
  margin: 0 70px 0 0;
}

.footer__top_list ul:last-child {
  margin: 0;
}

.footer__top_list ul li {
  color: #fff;
  font-size: 14px;
  line-height: 22px;
  font-weight: 500;
  margin: 0 0 24px 0;
  -webkit-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
}

.footer__top_list ul li:last-child {
  margin: 0;
}

.footer__top_list ul li a {
  color: #fff;
  -webkit-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
}

.footer__top_callback {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 295px;
          flex: 0 1 295px;
}

.footer__top_callback .callback__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__top_callback .callback__btns .btn._nopading {
  padding: 12px 0;
}

.footer__top_callback .callback__form {
  margin: 63px 0 0 0;
}

.footer__top_callback .callback__form p {
  font-size: 14px;
  line-height: 22px;
  font-weight: 500;
  color: #fff;
}

.footer__top_callback .callback__form label {
  position: relative;
  display: block;
  margin: 16px 0 0 0;
}

.footer__top_callback .callback__form label input {
  display: block;
  width: 100%;
  height: 40px;
  padding: 8px 16px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.08);
  border: 1px solid rgba(255, 255, 255, 0.08);
  color: #fff;
}

.footer__top_callback .callback__form label input::-webkit-input-placeholder {
  color: #fff;
  opacity: 0.4;
}

.footer__top_callback .callback__form label input::-moz-placeholder {
  color: #fff;
  opacity: 0.4;
}

.footer__top_callback .callback__form label input:-ms-input-placeholder {
  color: #fff;
  opacity: 0.4;
}

.footer__top_callback .callback__form label input::-ms-input-placeholder {
  color: #fff;
  opacity: 0.4;
}

.footer__top_callback .callback__form label input::placeholder {
  color: #fff;
  opacity: 0.4;
}

.footer__top_callback .callback__form label input:focus {
  border: 1px solid #2CA58D;
}

.footer__top_callback .callback__form label input:focus:invalid {
  border: 1px solid #FF5C5C !important;
  color: #FF5C5C !important;
}

.footer__top_callback .callback__form label input:focus:invalid + button svg {
  fill: #FF5C5C;
}

.footer__top_callback .callback__form label input:focus:invalid::-webkit-input-placeholder {
  color: rgba(255, 92, 92, 0.3) !important;
}

.footer__top_callback .callback__form label input:focus:invalid::-moz-placeholder {
  color: rgba(255, 92, 92, 0.3) !important;
}

.footer__top_callback .callback__form label input:focus:invalid:-ms-input-placeholder {
  color: rgba(255, 92, 92, 0.3) !important;
}

.footer__top_callback .callback__form label input:focus:invalid::-ms-input-placeholder {
  color: rgba(255, 92, 92, 0.3) !important;
}

.footer__top_callback .callback__form label input:focus:invalid::placeholder {
  color: rgba(255, 92, 92, 0.3) !important;
}

.footer__top_callback .callback__form label button {
  position: absolute;
  right: 8px;
  padding: 8px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 16px;
  height: 16px;
  background: transparent;
}

.footer__top_callback .callback__form label button svg {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
      -ms-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
  width: 16px;
  height: 16px;
  fill: #2CA58D;
}

.footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 32px 0;
  border-top: 1px solid rgba(222, 233, 230, 0.16);
}

.footer__bottom_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__bottom_left ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__bottom_left ul li {
  margin: 0 73px 0 0;
}

.footer__bottom_left ul li:first-child {
  margin: 0 126px 0 0;
}

.footer__bottom_left ul li:last-child {
  margin: 0;
}

.footer__bottom_left p,
.footer__bottom_left li,
.footer__bottom_left a {
  font-size: 14px;
  line-height: 22px;
  font-weight: 500;
  color: #fff;
  -webkit-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
}

.footer__bottom_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__bottom_right li {
  margin: 0 32px 0 0;
}

.footer__bottom_right li:last-child {
  margin: 0;
}

.footer__bottom_right li a {
  display: block;
  width: 24px;
  height: 24px;
}

.footer__bottom_right li a svg {
  fill: #fff;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
}

.hero-block {
  background-color: #EEF8F6;
  padding: 152px 0 226px 0;
}

.hero-block__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero-block__content_text {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 479px;
          flex: 0 1 479px;
}

.hero-block__content_text h2 {
  margin: 10px 0 0 0;
}

.hero-block__content_text p {
  font-size: 18px;
  line-height: 29px;
  margin: 24px 0 0 0;
}

.hero-block__content_text .btn-cta {
  margin: 36px 0 0 0;
}

.hero-block__content_iframe {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 48%;
          flex: 0 1 48%;
}

.hero-block__content_iframe .iframe-bg__content {
  position: relative;
  padding: 56% 0 0 0;
}

.hero-block__content_iframe .iframe-bg__content_substrate {
  position: absolute;
  cursor: pointer;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
}

.hero-block__content_iframe .iframe-bg__content_substrate:before {
  content: "";
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  width: 56px;
  height: 56px;
  background-image: url("../img/hero/play.png");
  background-repeat: no-repeat;
  background-size: 56px 56px;
}

.hero-block__content_iframe .iframe-bg__content_substrate:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(10, 35, 66, 0.3);
  border-radius: 16px;
}

.hero-block__content_iframe .iframe-bg__content_substrate.active {
  opacity: 0;
}

.hero-block__content_iframe .iframe-bg__content_substrate img {
  position: absolute;
  border-radius: 16px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-shadow: 0px 16px 48px rgba(0, 0, 0, 0.24);
          box-shadow: 0px 16px 48px rgba(0, 0, 0, 0.24);
}

.hero-block__content_iframe .iframe-bg__content iframe {
  position: absolute;
  border-radius: 16px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.hero-block__content_iframe .iframe-bg__robot {
  position: absolute;
  z-index: 2;
  bottom: -54px;
  left: -95px;
  width: 179px;
  height: 248px;
}

.hero-block__content_iframe .iframe-bg__vc {
  position: absolute;
  z-index: 2;
  top: 27px;
  right: -42px;
  width: 78px;
  height: 71px;
}

.partners {
  margin: 90px 0 80px 0;
}

.partners__wrapper {
  max-width: 1093px;
  margin: 0 auto;
}

.partners__wrapper ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -16px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.partners__wrapper ul li {
  border-radius: 8px;
  background-color: #F8FBFA;
  height: 96px;
  margin: 16px;
  width: calc((100% - 160px) / 5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px;
}

.partners__wrapper ul li img {
  mix-blend-mode: multiply;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.reference {
  margin: 80px 0 90px 0;
}

.reference__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reference__title._mob {
  display: none;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.reference__title a {
  position: relative;
  padding: 0 32px 0 0;
  font-size: 16px;
  line-height: 19px;
  font-weight: 500;
  color: #0A2342;
  -webkit-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
}

.reference__title a svg {
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 16px;
  height: 16px;
  fill: #0A2342;
  -webkit-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
}

.reference__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 18px -26px 67px;
}

.reference__cards .cards__item {
  width: 33.3333333333%;
  padding: 0 26px;
  border-right: 1px solid #EAF4F2;
  margin: 36px 0;
}

.reference__cards .cards__item:nth-child(3n) {
  border-right: initial;
}

.reference__cards .cards__item_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 26px 0;
}

.reference__cards .cards__item_top span {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40px;
          flex: 0 0 40px;
  height: 40px;
  margin: 0 24px 0 0;
}

.reference__cards .cards__item_top span img {
  border-radius: 8px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.reference__cards .cards__item_top p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.reference__cards .cards__item_top p strong:first-child {
  font-size: 16px;
  line-height: 26px;
  font-weight: 700;
  color: #2CA58D;
}

.reference__cards .cards__item_top p strong:last-child {
  font-size: 14px;
  line-height: 22px;
  color: #878C8B;
  font-weight: 400;
}

.reference__cards .cards__item_middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 0 18px 0;
  border-bottom: 1px solid #EAF4F2;
}

.reference__cards .cards__item_middle a {
  position: relative;
  font-size: 12px;
  line-height: 19px;
  color: #0A2342;
  padding: 0 0 0 20px;
  word-break: break-word;
}

.reference__cards .cards__item_middle a:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 14px;
  height: 14px;
  background-image: url("../img/hero/phone.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.reference__cards .cards__item_middle a:first-child {
  margin: 0 10px 0 0;
}

.reference__cards .cards__item_middle a:last-child:before {
  background-image: url("../img/hero/mail.svg");
}

.reference__cards .cards__item_bottom p {
  font-size: 16px;
  line-height: 26px;
  font-style: italic;
  margin: 32px 0;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 7;
  overflow: hidden;
  min-height: 182px;
}

.reference__cards .cards__item_bottom a {
  display: block;
  border-top: 1px solid #EAF4F2;
  padding: 26px 0 0 0;
  font-size: 16px;
  line-height: 19px;
  font-weight: 500;
  color: #0A2342;
  -webkit-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
}

.reference__numbers {
  padding: 49px 0 0 0;
  border-top: 1px solid #EAF4F2;
}

.reference__numbers ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -100px;
}

.reference__numbers ul li {
  margin: 0 100px;
  width: calc((100% - 600px) / 3);
  border-left: 1px solid #EAF4F2;
}

.reference__numbers ul li:first-child {
  border-left: initial;
}

.reference__numbers ul li p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 0 0 64px;
}

.reference__numbers ul li p strong {
  font-size: 64px;
  line-height: 77px;
  font-weight: 700;
  color: #2CA58D;
}

.reference__btn {
  text-align: center;
}

.why-choose {
  position: relative;
  background-color: #EEF8F6;
  padding: 82px 0 170px 0;
}

.why-choose__clean-car {
  position: absolute;
  top: -50px;
  right: 100px;
  width: 154px;
  height: 174px;
}

.why-choose__clean-car img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.why-choose__title p {
  margin: 17px 0 0 0;
  font-size: 40px;
  line-height: 64px;
  font-weight: 700;
}

.why-choose__list {
  position: relative;
  z-index: 2;
  margin: 57px 0 0 0;
  max-width: 930px;
}

.why-choose__list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -24px;
}

.why-choose__list ul li {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 48px 27px 0;
  width: calc((100% - 96px) / 2);
  margin: 24px;
  min-height: 200px;
}

.why-choose__list ul li:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 80%;
  width: 2px;
  background-color: #EAF4F2;
}

.why-choose__list ul li:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 80%;
  height: 2px;
  background-color: #EAF4F2;
}

.why-choose__list ul li:last-child:before,
.why-choose__list ul li:last-child:after {
  display: none;
}

.why-choose__list ul li:nth-last-child(2):before,
.why-choose__list ul li:nth-last-child(2):after {
  display: none;
}

.why-choose__list ul li span {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 80px;
          flex: 0 0 80px;
  height: 80px;
}

.why-choose__list ul li span img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px;
}

.why-choose__list ul li p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 0 0 32px;
}

.why-choose__list ul li p strong {
  font-size: 18px;
  line-height: 29px;
  font-weight: 700;
  color: #2CA58D;
}

.why-choose__list ul li p small {
  margin: 16px 0 0 0;
  font-size: 16px;
  line-height: 26px;
}

.why-choose__map-city {
  position: absolute;
  z-index: 2;
  bottom: -60px;
  right: -222px;
  width: 1030px;
  height: 579px;
}

.why-choose__map-city img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.know-more {
  position: relative;
  padding: 112px 0;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.know-more:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(10, 35, 66, 0.7);
}

.know-more__content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.know-more__content_text {
  margin: 0 30px 0 0;
}

.know-more__content_text p {
  font-size: 24px;
  line-height: 38px;
  font-weight: 500;
  color: #fff;
  margin: 18px 0 0 0;
}

.know-more__content_text p:first-child {
  margin: 0;
}

.know-more__content_text p strong {
  font-size: 40px;
  line-height: 64px;
  font-weight: 700;
  color: #2CA58D;
}

.know-more__content_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.know-more__content_btn .btn-cta {
  padding: 19px 52px;
}

.solutions {
  padding: 179px 0 127px 0;
}

.solutions__content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.solutions__content_title {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 231px;
          flex: 0 1 231px;
  margin: 0 50px 0 0;
}

.solutions__content_list {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 640px;
          flex: 0 1 640px;
  padding: 0 20px 0 0;
}

.solutions__content_list ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 0 48px 0;
  margin: 0 0 48px 0;
  border-bottom: 1px solid #EAF4F2;
}

.solutions__content_list ul li:last-child {
  border-bottom: initial;
  margin: 0;
}

.solutions__content_list ul li span {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 80px;
          flex: 0 0 80px;
  height: 80px;
  margin: 0 34px 0 0;
}

.solutions__content_list ul li p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.solutions__content_list ul li p strong {
  font-size: 18px;
  line-height: 29px;
  font-weight: 700;
  color: #2CA58D;
}

.solutions__content_list ul li p small {
  font-size: 16px;
  line-height: 26px;
  color: #0A2342;
  margin: 16px 0 0 0;
}

.solutions__content_men {
  position: absolute;
  z-index: 2;
  bottom: -168px;
  left: 247px;
  width: 197px;
  height: 290px;
}

.solutions__content_men img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.solutions__content_iso {
  position: absolute;
  bottom: 38px;
  left: -37px;
  width: 212px;
  height: 141px;
}

.solutions__content_iso img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.hero-inner {
  margin: 33px 0 126px 0;
}

.hero-inner__back a {
  position: relative;
  font-size: 12px;
  line-height: 19px;
  color: #0A2342;
  padding: 0 0 0 32px;
  -webkit-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
}

.hero-inner__back a svg {
  position: absolute;
  left: 0;
  top: 50%;
  width: 12px;
  height: 12px;
  -webkit-transform: translateY(-50%) rotate(-90deg);
      -ms-transform: translateY(-50%) rotate(-90deg);
          transform: translateY(-50%) rotate(-90deg);
  fill: #0A2342;
  -webkit-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
}

.hero-inner__back a:hover {
  color: #2CA58D;
}

.hero-inner__back a:hover svg {
  fill: #2CA58D;
}

.hero-inner__top-content {
  margin: 96px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero-inner__top-content .top-content__text {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 752px;
          flex: 0 1 752px;
  margin: 0 50px 0 0;
}

.hero-inner__top-content .top-content__text h3 {
  margin: 0 0 64px 0;
}

.hero-inner__top-content .top-content__text p {
  line-height: 26px;
  margin: 0 0 32px 0;
}

.hero-inner__top-content .top-content__text p:last-child {
  margin: 0;
}

.hero-inner__top-content .top-content__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 416px;
          flex: 0 1 416px;
}

.hero-inner__top-content .top-content__img_picture {
  position: relative;
  width: 100%;
  height: 490px;
  border-radius: 16px;
  overflow: hidden;
}

.hero-inner__top-content .top-content__img_picture img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.hero-inner__top-content .top-content__img_picture p {
  position: absolute;
  bottom: 40px;
  left: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero-inner__top-content .top-content__img_picture p strong {
  color: #2CA58D;
  font-size: 16px;
  line-height: 26px;
  font-weight: 700;
}

.hero-inner__top-content .top-content__img_picture p span {
  font-size: 14px;
  line-height: 17px;
  color: #878C8B;
}

.hero-inner__editor {
  margin: 64px auto 0;
  max-width: 864px;
}

.hero-inner__editor h2,
.hero-inner__editor h3,
.hero-inner__editor h4 {
  margin: 64px 0 23px 0;
}

.hero-inner__editor h2:first-child,
.hero-inner__editor h3:first-child,
.hero-inner__editor h4:first-child {
  margin: 0 0 32px 0;
}

.hero-inner__editor p {
  margin: 0 0 32px 0;
  line-height: 26px;
}

.hero-inner__editor img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  margin: 64px auto;
  border-radius: 16px;
  max-height: 400px;
}

.hero-inner__bottom-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 864px;
  margin: 64px auto;
  padding: 0 0 127px 0;
  border-bottom: 1px solid #DEE9E6;
}

.hero-inner__bottom-content .bottom-content__img img {
  border-radius: 16px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.hero-inner__bottom-content .bottom-content__img__img {
  height: 400px;
}

.hero-inner__bottom-content .bottom-content__img:first-child {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 65%;
          flex: 0 1 65%;
  margin: 0 32px 0 0;
}

.hero-inner__bottom-content .bottom-content__img:last-child {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 35%;
          flex: 0 1 35%;
}

.hero-inner__inner-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 864px;
  margin: 0 auto;
}

.hero-inner__inner-buttons .inner-buttons__btn.reverse a span {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.hero-inner__inner-buttons .inner-buttons__btn.reverse a span svg {
  -webkit-transform: rotate(90deg) translateX(-50%) translateY(50%);
      -ms-transform: rotate(90deg) translateX(-50%) translateY(50%);
          transform: rotate(90deg) translateX(-50%) translateY(50%);
}

.hero-inner__inner-buttons .inner-buttons__btn.reverse a p {
  margin: 5px 32px 0 0;
}

.hero-inner__inner-buttons .inner-buttons__btn.reverse a p strong,
.hero-inner__inner-buttons .inner-buttons__btn.reverse a p small {
  text-align: right;
}

.hero-inner__inner-buttons .inner-buttons__btn a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero-inner__inner-buttons .inner-buttons__btn a span {
  position: relative;
  width: 48px;
  height: 48px;
  border-radius: 8px;
  background: #EAF4F2;
  -webkit-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
}

.hero-inner__inner-buttons .inner-buttons__btn a span svg {
  position: absolute;
  top: calc(50% + 1px);
  left: 50%;
  fill: #0A2342;
  width: 12px;
  height: 12px;
  -webkit-transform: rotate(-90deg) translateX(50%) translateY(-50%);
      -ms-transform: rotate(-90deg) translateX(50%) translateY(-50%);
          transform: rotate(-90deg) translateX(50%) translateY(-50%);
  -webkit-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
}

.hero-inner__inner-buttons .inner-buttons__btn a p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 5px 0 0 32px;
}

.hero-inner__inner-buttons .inner-buttons__btn a p strong {
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
}

.hero-inner__inner-buttons .inner-buttons__btn a p small {
  margin: 4px 0 0 0;
  font-size: 14px;
  line-height: 22px;
  color: #878C8B;
}

@media (min-width: 1200px) {
  .btn._border:hover {
    background-color: #2CA58D;
    color: #EAF4F2;
  }

  .btn-cta._green:hover {
    background-color: #0A2342;
  }

  .header__content-navigation .content-navigation__links li:hover {
    color: #2CA58D;
  }

  .header__content-navigation .content-navigation__links li.submenu:hover ul {
    opacity: 1;
    top: 53px;
    pointer-events: initial;
  }

  .header__content-navigation .content-navigation__links li.submenu:hover svg {
    fill: #2CA58D;
    -webkit-transform: translateY(-50%) rotateX(180deg);
            transform: translateY(-50%) rotateX(180deg);
  }

  .header__content-cross {
    display: none;
  }

  .footer__top_list ul li a:hover {
    color: #2CA58D;
  }

  .footer__bottom_left p:hover,
  .footer__bottom_left li:hover,
  .footer__bottom_left a:hover {
    color: #2CA58D;
  }

  .footer__bottom_right li:hover a svg {
    fill: #2CA58D;
  }

  .reference__title a:hover {
    color: #2CA58D;
  }

  .reference__title a:hover svg {
    fill: #2CA58D;
  }

  .reference__cards .cards__item_bottom a:hover {
    color: #2CA58D;
  }

  .hero-inner__inner-buttons .inner-buttons__btn a:hover span {
    background: #2CA58D;
  }

  .hero-inner__inner-buttons .inner-buttons__btn a:hover span svg {
    fill: #fff;
  }
}

@media (max-width: 1199px) {
  .root {
    padding: 80px 0 0 0;
  }

  .header__content:before {
    content: "";
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100vw;
    height: 80px;
    background: #fff;
  }

  .header__content.active .header__content-navigation {
    -webkit-transform: initial;
        -ms-transform: initial;
            transform: initial;
  }

  .header__content.active .header__content-cross span:nth-child(1) {
    top: 50%;
    -webkit-transform: translateY(-50%) rotateZ(45deg);
        -ms-transform: translateY(-50%) rotate(45deg);
            transform: translateY(-50%) rotateZ(45deg);
  }

  .header__content.active .header__content-cross span:nth-child(2) {
    left: -10px;
    opacity: 0;
  }

  .header__content.active .header__content-cross span:nth-child(3) {
    bottom: 50%;
    -webkit-transform: translateY(50%) rotateZ(-45deg);
        -ms-transform: translateY(50%) rotate(-45deg);
            transform: translateY(50%) rotateZ(-45deg);
  }

  .header__content-logo {
    position: relative;
    z-index: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .header__content-navigation {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: initial;
        -ms-flex-align: initial;
            align-items: initial;
    -webkit-box-flex: initial;
        -ms-flex: initial;
            flex: initial;
    height: 100vh;
    width: 100%;
    padding: 133px 24px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    max-height: 100%;
    overflow-y: auto;
    scrollbar-width: none;
    -webkit-transform: translateY(-100vh);
        -ms-transform: translateY(-100vh);
            transform: translateY(-100vh);
    -webkit-transition: 300ms ease-in-out;
    -o-transition: 300ms ease-in-out;
    transition: 300ms ease-in-out;
  }

  .header__content-navigation::-webkit-scrollbar {
    display: none;
  }

  .header__content-navigation .content-navigation__links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: initial;
        -ms-flex: initial;
            flex: initial;
    padding: 0;
  }

  .header__content-navigation .content-navigation__links li {
    font-size: 36px;
    line-height: 40px;
    padding: 0;
    margin: 0 0 32px 0;
  }

  .header__content-navigation .content-navigation__links li:last-child {
    margin: 0;
  }

  .header__content-navigation .content-navigation__links li a {
    display: inline-block;
  }

  .header__content-navigation .content-navigation__links li svg {
    position: static;
    display: inline-block;
    width: 20px;
    height: 12px;
  }

  .header__content-navigation .content-navigation__links li.submenu ul {
    max-height: 0;
    overflow: hidden;
    position: static;
    opacity: 1;
    pointer-events: initial;
    width: 100%;
    -webkit-box-shadow: initial;
            box-shadow: initial;
    padding: 0;
    -webkit-transition: 500ms;
    -o-transition: 500ms;
    transition: 500ms;
  }

  .header__content-navigation .content-navigation__links li.submenu ul li {
    font-size: 24px;
    line-height: 30px;
  }

  .header__content-navigation .content-navigation__btns {
    margin: 56px 0 0 0;
  }

  .header__content-navigation .content-navigation__btns a {
    font-size: 24px;
    line-height: 30px;
  }

  .header__content-navigation .content-navigation__btns a:first-child {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin: 0 0 0 7px;
  }

  .header__content-navigation .content-navigation__btns a:last-child {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .header__content-navigation .content-navigation__btns .btn-header + .btn-header {
    margin: initial;
  }

  .header__content-cross {
    z-index: 2;
  }

  .footer__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: initial;
        -ms-flex-pack: initial;
            justify-content: initial;
  }

  .footer__top_logo {
    -webkit-box-flex: initial;
        -ms-flex: initial;
            flex: initial;
    margin: 0 0 56px 0;
  }

  .footer__top_logo a {
    width: 124px;
    height: 25px;
  }

  .footer__top_list {
    margin: 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .footer__top_callback {
    margin: 56px 0 0 0;
    -webkit-box-flex: initial;
        -ms-flex: initial;
            flex: initial;
  }

  .footer__top_callback .callback__form {
    margin: 44px 0 0 0;
    max-width: 50%;
  }

  .footer__top_callback .callback__btns {
    -webkit-box-pack: initial;
        -ms-flex-pack: initial;
            justify-content: initial;
  }

  .footer__top_callback .callback__btns .btn._nopading {
    padding: 12px 43px;
  }

  .footer__top_callback .callback__btns .btn:first-child {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .footer__bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 36px 0 56px 0;
  }

  .footer__bottom_left ul {
    -webkit-box-flex: 1;
        -ms-flex: 1 1;
            flex: 1 1;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .footer__bottom_left ul li:first-child {
    margin: 0 73px 0 0;
  }

  .footer__bottom_right {
    margin: 36px 0 0 0;
  }

  .hero-block {
    padding: 52px 0 127px 0;
  }

  .hero-block__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .hero-block__content_text {
    -webkit-box-flex: initial;
        -ms-flex: initial;
            flex: initial;
  }

  .hero-block__content_iframe {
    -webkit-box-flex: initial;
        -ms-flex: initial;
            flex: initial;
    margin: 60px 0 0 0;
  }

  .hero-block__content_iframe .iframe-bg__vc {
    top: -53px;
    right: 1px;
  }

  .hero-block__content_iframe .iframe-bg__robot {
    width: 88px;
    height: 123px;
    bottom: -61px;
    left: 0px;
  }

  .why-choose__clean-car {
    width: 88px;
    height: 116px;
  }

  .why-choose__map-city {
    width: 750px;
    height: 422px;
  }

  .know-more {
    background-attachment: initial;
  }
}

@media (max-width: 1023px) {
  .footer__top_callback .callback__form {
    max-width: 100%;
  }

  .footer__bottom_left ul {
    margin: -7px -17px;
  }

  .footer__bottom_left ul li {
    width: calc((100% - 68px) / 2);
    margin: 7px 17px;
  }

  .footer__bottom_left ul li:nth-child(2n) {
    text-align: right;
  }

  .footer__bottom_left ul li:first-child,
  .footer__bottom_left ul li:last-child {
    margin: 7px 17px;
  }

  .partners__wrapper ul li {
    width: calc((100% - 96px) / 3);
  }

  .reference__title a {
    display: none;
  }

  .reference__title._mob {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .reference__title._mob a {
    display: block;
  }

  .reference__cards {
    margin: 49px -26px 51px;
  }

  .reference__cards .cards__item {
    width: 100%;
    margin: 50px 0 0 0;
  }

  .reference__cards .cards__item:first-child {
    margin: 0;
  }

  .reference__cards .cards__item_top {
    margin: 0 0 20px 0;
  }

  .reference__cards .cards__item_middle {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 0 30px 0;
  }

  .reference__cards .cards__item_middle a:first-child {
    margin: 0 0 20px 0;
  }

  .reference__cards .cards__item_bottom p {
    font-size: 14px;
    line-height: 22px;
    margin: 20px 0;
    min-height: initial;
  }

  .reference__cards .cards__item_bottom a {
    padding: 30px 0 0 0;
  }

  .reference__numbers {
    margin: 108px 0 0 0;
  }

  .reference__numbers ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
  }

  .reference__numbers ul li {
    border-left: initial;
    width: initial;
    margin: 40px 0 0 0;
    border-bottom: 1px solid #EAF4F2;
  }

  .reference__numbers ul li p {
    padding: 0 0 40px 0;
    text-align: center;
  }

  .reference__numbers ul li:last-child {
    border-bottom: initial;
  }

  .reference__numbers ul li:last-child p {
    padding: 0;
  }

  .reference__numbers ul li:first-child {
    margin: 0;
  }

  .reference__btn {
    text-align: initial;
  }

  .reference__btn .btn-cta {
    padding: 19px 66px;
  }

  .solutions {
    padding: 100px 0 222px 0;
  }

  .solutions__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .solutions__content_title,
  .solutions__content_list {
    -webkit-box-flex: initial;
        -ms-flex: initial;
            flex: initial;
  }

  .solutions__content_title {
    margin: 0 0 50px 0;
  }

  .solutions__content_list {
    padding: 0;
  }

  .solutions__content_list ul li {
    padding: 0 0 43px 0;
    margin: 0 0 40px 0;
  }

  .solutions__content_list ul li p small {
    margin: 10px 0 0 0;
    font-size: 14px;
    line-height: 22px;
  }

  .solutions__content_iso {
    width: 132px;
    height: 87px;
    bottom: -101px;
    left: 0;
  }

  .solutions__content_men {
    width: 132px;
    height: 226px;
    bottom: -253px;
    left: initial;
    right: 0;
  }
}

@media (max-width: 767px) {
  h2,
  .h2 {
    font-size: 32px;
    line-height: 51px;
  }

  h1,
  .h1 {
    font-size: 32px;
    line-height: 51px;
  }

  .footer__top {
    padding: 56px 0 64px 0;
  }

  .footer__top_list {
    margin: -22px -24px;
    -webkit-box-flex: initial;
        -ms-flex: initial;
            flex: initial;
    -webkit-box-pack: initial;
        -ms-flex-pack: initial;
            justify-content: initial;
  }

  .footer__top_list ul {
    margin: 22px 24px;
    max-width: initial;
    width: calc((100% - 96px) / 2);
  }

  .footer__top_list ul:first-child,
  .footer__top_list ul:last-child {
    margin: 22px 24px;
    width: calc((100% - 96px) / 2);
  }

  .footer__top_list ul li {
    margin: 0 0 15px 0;
  }

  .hero-block__content_text p {
    font-size: 14px;
    line-height: 22px;
    margin: 20px 0 0 0;
  }

  .why-choose {
    padding: 50px 0 234px 0;
  }

  .why-choose__clean-car {
    top: -80px;
    right: 24px;
  }

  .why-choose__title p {
    margin: 10px 0 0 0;
    font-size: 16px;
    line-height: 26px;
  }

  .why-choose__list {
    margin: 50px 0 0 0;
  }

  .why-choose__list ul {
    margin: 0;
  }

  .why-choose__list ul li {
    margin: 0 0 30px 0;
    width: 100%;
    min-height: initial;
    padding: 0 0 29px 0;
  }

  .why-choose__list ul li:before {
    display: none;
  }

  .why-choose__list ul li:after {
    width: 100%;
  }

  .why-choose__list ul li:nth-last-child(2):after {
    display: block;
  }

  .why-choose__list ul li:last-child {
    margin: 0;
  }

  .why-choose__list ul li span {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 64px;
            flex: 0 0 64px;
    height: 64px;
  }

  .why-choose__list ul li p {
    margin: 0 0 0 25px;
  }

  .why-choose__list ul li p small {
    margin: 9px 0 0 0;
    font-size: 14px;
    line-height: 22px;
  }

  .why-choose__map-city {
    right: calc(50% - 40px);
    -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
            transform: translateX(50%);
    width: 560px;
    height: 315px;
  }

  .know-more {
    padding: 56px 0;
  }

  .know-more__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .know-more__content_text {
    margin: 0 0 36px 0;
  }

  .know-more__content_text p {
    font-size: 20px;
    line-height: 32px;
    margin: 36px 0 0 0;
  }

  .know-more__content_text p:first-child {
    margin: 0;
  }

  .know-more__content_text p strong {
    font-size: 24px;
    line-height: 38px;
  }
}

@media (max-width: 567px) {
  .root {
    padding: 97px 0 0 0;
  }

  .header__content {
    padding: 36px 0;
  }

  .header__content-navigation .content-navigation__links li {
    font-size: 16px;
    line-height: 26px;
  }

  .header__content-navigation .content-navigation__links li svg {
    width: 10px;
    height: 6px;
  }

  .header__content-navigation .content-navigation__links li.submenu ul li {
    font-size: 12px;
    line-height: 18px;
  }

  .header__content-navigation .content-navigation__btns a {
    font-size: 14px;
    line-height: 17px;
  }

  .header__content-logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 124px;
            flex: 0 1 124px;
    height: 25px;
  }

  .partners {
    margin: 50px 0 100px 0;
  }

  .partners__wrapper ul li {
    width: 100%;
  }
}

@media (max-width: 359px) {
  .footer__bottom_left ul li {
    width: 100%;
  }

  .footer__bottom_left ul li:nth-child(2n) {
    text-align: initial;
  }
}